#header, #content, #footer {
	border: 1px solid black;
}
#header {
	width: 900px;
	height: 200px;
	margin: 0px auto;
}
#content {
	width: 900px;
	height: 400px;
	margin: 0px auto;
}
#footer {
	width: 900px;
	height: 200px;
	margin: 0px auto;
}
