#wrapper {
	width: 900px;
	border: 1px solid black;
	margin:  0px auto;
}
#header {
	height: 200px;
	border: 1px solid black;
}
#left {
	width: 200px;
	height: 500px;
	outline: 1px solid black;
	float: left;
}
#content {
	width: 500px;
	height: 500px;
	outline: 1px solid black;
	float: left;
}
#right {
	width: 200px;
	height: 500px;
	outline: 1px solid black;
	float: left;
}
#footer {
	height: 200px;
	border: 1px solid black;
}
.clearfix {
	clear: both;
}