#menu4 ul {
    list-style-type: none;
    width: 200px;
}
#menu4 li {
    margin-bottom: 5px;
    
}
#menu4 a:link , #menu4 a:visited {
    color: white;
    text-decoration: none;
    display: block;
    font-weight: 13px Arial;
    border: 1px solid #0081E7;
    background-color: steelblue;
    padding: 0px 5px ;
    line-height: 30px;
    font-weight: bold;
}
#menu4 a:hover , #menu4 a.active {
    color: blue;
    background-color: white;
    font-weight: bold;
}
#menu4 a:link.aaa , a:visited.aaa {
    color: blue;
    background: #fff url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQchnfin49HDFibxQ0ncbMSnV2_riKVcMxlrg&usqp=CAU") no-repeat 90% center;
}
img {
    width: 20px;
    height: 20px;
    float: right;
}
