#parent {
	width: 200px;
	height: 400px;
	margin: 10px auto;
	border: 1px solid black;
	position: relative;
}
#elem, #elem2, #elem3 {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	border-radius: 50%;
	position: absolute;
}
#elem {
	background-color: red;
	left: 50px;
	top: 50px;
}
#elem2 {
	background-color: yellow;
	left: 50px;
	top: 160px;
}
#elem3 {
	background-color: green;
	left: 50px;
	top: 270px;
}