li {
    list-style-type: none;
    border: 1px solid steelblue;
    line-height: 20pt;
    display: inline-block;
}

a:link , a:visited {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: dimgrey;
    display: block;
    border: 1px solid black;
    line-height: 20pt;
}
a:link.bbb , a:visited.bbb {
    color: white;
    text-decoration: none;
    background-color: dimgrey;
    border: 1px solid black;
    display: block;
    line-height: 20pt;
}

