li {
    list-style-type: none;
    border: 1px solid steelblue;
    /*width: 200px;*/
    padding: 5px 2px;
    /*margin: 5px;
    line-height: 10pt;*/
    display: inline-block;
}

a:link , a:visited {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: white;
    /*font-weight: bold;*/
    background-color: dimgrey;
    /*display: block;
    border: 1px solid black;*/
    padding: 5px 2px;

}
a {
    display: block;
}
