#menu6 ul {
    list-style-type: none;
}
#menu6 li {
    display: inline-block;
}

#menu6 a:link , #menu6 a:visited {
    color: blue;
    text-decoration: none;
    font: 13px Arial;
    border: 1px solid #1A31A2;
    padding: 5px;
}
#menu6 a:hover , #menu6 a.active {
    color: #fff;
    background-color: dimgrey;
    border: 1px solid black;
}
