#menu1 a:link , #menu1 a:visited {
	text-decoration: none;
	color: blue;
}
#menu1 a:hover {
	text-decoration: underline;
}
#menu1 {
	width: 700px;
	margin: 0px auto;
	text-align: justify;
}
#menu1 div {
	border: 1px solid dimgrey;
	margin-bottom: 20px;
	padding: 20px;
}
#menu1 p {
	margin: 10px 0px;
}
#menu1 h2 {
	margin: 0px;
}
#menu1 .l1 {
	text-align: right;
	padding-right: 20px;
}
