#menu3 ul {
	list-style-type: none;
	width: 200px;
}
#menu3 li {
	margin-bottom: 5px;
}
#menu3 a:link , #menu3 a:visited {
	color: white;
	text-decoration: none;
	font: 13px Arial;
	border: 1px solid black;
	display: block;
	background-color: dimgrey;
	padding: 0px 5px ;
	line-height: 30px;
	font-weight: bold;
}
#menu3 a:hover {
	color: black;
	background-color: white;
}

	