#menu1  {
	border: 1px solid grey;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	padding: 30px;

}
#menu1 img {
	border: 1px solid black;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
#menu1 p {
	text-align: justify;
	font: 15px Arial;
}
#menu1 a:link ,#menu1 a:visited {
	text-decoration: none;
	color: blue;
}
#menu1 a:hover {
	text-decoration: underline;
}
#menu1 .l1 {
	float: right;
	font: 13px Arial;
}
