#wrapper {
	width: 1000px;
	border: 1px solid black;
	margin:  0px auto;
}
#header {
	height: 200px;
	border: 1px solid black;
	margin-bottom: 20px;
}
#left, #right {
	width: 200px;
	height: 500px;
	outline: 1px solid black;
}
#left {
	float: left;
}
#right {
	float: right;
}
#content {
	height: 500px;
	outline: 1px solid black;
	margin: 0px 220px;
}
#footer {
	height: 200px;
	border: 1px solid black;
	margin-top: 20px;
}
.clearfix {
	clear: both;
}
