#menu2 ul {
	list-style-type: none;
	width: 200px;
}

}
#menu2 li {
	margin-bottom: 5px;
	
}
 #menu2 a:link , #menu2 a:visited {
	color: blue;
	text-decoration: none;
	font: 13px Arial;
	border: 1px solid blue;
	display: block;
	padding: 0px 5px;
	line-height: 30px;
}
 #menu2 a:hover {
	font-weight: bold;
}
